<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../static/css/style.css">
    <title></title>
</head>

<body>
    <!-- 头部模块 -->
    <div class="header">
        <ul class="left">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="title">
            <span><h1>明日方舟医疗</h1></span>
        </div>
        <ul class="right">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- 主体模块 -->
    <div class="main">
        <!-- 左侧模块 -->
        <div class="main-left">
            <!-- 完成率 -->
            <div class="completion">
                <div class="completion-content">
                    <div class="rate">
                        <h5><span>待定</span></h5>
                    </div>
                </div>
            </div>
            <!-- 闪电 -->
            <div class="lightning">
                <div class="lightning1">
                    <div class="sd1"></div>
                    <div class="jd1">
                        <ul class="cd">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="box1"></div>
                        <div class="box2"></div>
                    </div>
                </div>
                <div class="lightning2">
                    <div class="sd2"></div>
                    <div class="jd2">
                        <ul class="cd">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="box1"></div>
                        <div class="box2"></div>
                    </div>
                </div>
            </div>
            <!-- top3 -->
            <div class="top3">
                <ul>
                    <li>
                        <div class="title">NO.1</div>
                        <div class="content">
                            <p>80%</p>
                            <span>待定</span>
                        </div>
                    </li>
                    <li>
                        <div class="title">NO.2</div>
                        <div class="content">
                            <p>80%</p>
                            <span>待定</span>
                        </div>
                    </li>
                    <li>
                        <div class="title">NO.3</div>
                        <div class="content">
                            <p>80%</p>
                            <span>待定</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 中间模块 -->
        <div class="main-middle">
            <div class="external1"></div>
            <div class="external2"></div>
            <div class="selfintroduce_box">
			<div class="input_outer">
								<span class="ema"></span>
								<input id="email" name="email" class="text" style="color: #000000 !important" type="text" placeholder="用户名">
							</div>
                <div class="input_outer">
								<span class="ema"></span>
								<input id="email" name="email" class="text" style="color: #000000 !important" type="text" placeholder="性别">
							</div>
                <div class="input_outer">
								<span class="ema"></span>
								<input id="email" name="email" class="text" style="color: #000000 !important" type="text" placeholder="生日">
							</div>
                <div class="input_outer">
								<span class="ema"></span>
								<input id="email" name="email" class="text" style="color: #000000 !important" type="text" placeholder="城市">
							</div>
                <div class="input_outer">
								<span class="ema"></span>
								<input id="email" name="email" class="text" style="color: #000000 !important" type="text" placeholder="个性签名">
							</div>
               <div id="VER" class="mb2"><a class="act-but submit" href="javascript:;" onclick="ver()" style="color: #FFFFFF">发送验证码</a></div>
            <h4>不想改了？<a href="/user_info">返回个人资料</a></h4>

	</div>
        </div>
        <!-- 右侧模块 -->
        <div class="main-right">
            <!-- 开通VIP -->
            <div class="compare">
                <div class="compare-content">
                    <div class="rate2">
                        <h5><span>开通VIP</span></h5>
                    </div>
                </div>
            </div>
            <!-- 闪电 -->
            <div class="lightning">
                <div class="lightning3">
                    <div class="jd3">
                        <ul class="cd">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="box1"></div>
                        <div class="box2"></div>
                    </div>
                    <div class="sd3"></div>
                </div>
                <div class="lightning4">
                    <div class="jd4">
                        <ul class="cd">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="box1"></div>
                        <div class="box2"></div>
                    </div>
                    <div class="sd4"></div>
                </div>
            </div>
            <!-- top6 -->
            <div class="top6">
                <ul>
                    <li>
                        <div class="title">NO.4</div>
                        <div class="content">
                            <p>80%</p>
                            <span>待定</span>
                        </div>
                    </li>
                    <li>
                        <div class="title">NO.5</div>
                        <div class="content">
                            <p>80%</p>
                            <span>待定</span>
                        </div>
                    </li>
                    <li>
                        <div class="title">NO.6</div>
                        <div class="content">
                            <p>80%</p>
                            <span>待定</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 底部模块 -->
    <div class="bottom">
        <div class="ul-box">
            <ul>
                <li>
                    <div class="li-content">
                        <p><a href="/user_information">个人主页</a></p>
                    </div>
                </li>
                <li>
                    <div class="li-content">
                        <p><a href="">网站首页</a></p>
                    </div>
                </li>
                <li>
                    <div class="li-content">
                        <p><a href="">网站论坛</a></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</body>
<script src="../static/node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
<script src="../static/js/main.js"></script>

<script>


</script>

</html>