<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>谢广洪的个人介绍网页</title>
	<link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
	<div class="selfintroduce_box">
		<div class="title">我的个人介绍</div>
			<div class="left">
			<p><img src="../static/img/chen.jpg" width="200"></p></div>
			<div class="right">
			<p>姓名：陈晖洁<br>籍贯：中国<br>电话：17388220812<br>邮箱：1843137588@qq.com<br>
			本科专业自动化，但是对于前端和后端都比较感兴趣，对于硬件方向还没有过多的接触。<br>
			除了技术，本人同时注重自身职业素养的培养。并把自身的目标放在了互联网线上<br>
			如今，大众行为都已迁至线上，新媒体必创造更多价值，我愿为此努力.争取不管是ToB端或者ToC端都能做大做强！</p>
			</div>
	</div>
</body>
</html>