<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
    <link rel="stylesheet" href="../static/js/vendor/jgrowl/css/jquery.jgrowl.min.css">
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="../static/css/component.css" />
    <!--[if IE]>
<script src="../static/js/html5.js"></script>
<![endif]-->
    <style>
        input::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.728);
        }

        input::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: rgba(0, 0, 0, 0.728);
        }

        input:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: rgba(0, 0, 0, 0.728);
        }

        input:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: rgba(0, 0, 0, 0.728);
        }

        #password0::placeholder {
    color: white; /* 设置占位符文本颜色为红色 */
    text-align: center; /* 设置文本居中 */
}
#password1::placeholder {
    color: white; /* 设置占位符文本颜色为红色 */
    text-align: center; /* 设置文本居中 */
}
#username::placeholder {
    color: white; /* 设置占位符文本颜色为红色 */
    text-align: center; /* 设置文本居中 */

}

#email::placeholder {
    color: white; /* 设置占位符文本颜色为红色 */
    text-align: center; /* 设置文本居中 */

}

#verification::placeholder {
    color: white; /* 设置占位符文本颜色为红色 */
    text-align: center; /* 设置文本居中 */

}

#form1{
    position: absolute;
			left: 0%;
			top: 3%;
			width: 100%;
			height: 115%;
}

#VER {
			position: absolute;
			height: 12%;
			width: 75%;
			left: 10%;
			top: 70%;
			/* 设置上下间距 */
		}

		#REG {
			position: absolute;
			height: 12%;
			width: 75%;
			left: 10%;
			top: 83%;
			/* 设置上下间距 */
		}

        #h {
			position: absolute;
			width: 90%;
			left: 25%;
			top: 97%;
			/* 设置上下间距 */
		}

        #canvas {
        width: 100vw;
        height: 100vh;
        position: absolute; /* 或者 position: fixed; */
        top: 0;
        left: 0;
        z-index: -9; /* 设置z-index使canvas位于底层 */
      }
    </style>
</head>

<body >

    
    <canvas id="canvas" style="background:#111"></canvas>

    <div class="container demo-1">
        <div class="content">
            <div id="large-header" class="large-header" >
                    

                

                <img src="../static/img/m2.gif" style="position: absolute;  width: 50%; height: 50%;left:25%;top:18%; z-index:  -1;">


                <img src="../static/img/border4.png" style="position:absolute;  width: 40%; height: 8%; left:30%;top:23.5%;z-index:  -1;">
                <img src="../static/img/border4.png" style="position: absolute;  width: 40%; height: 8%; left:30%;top: 31.5%;z-index:  -1;">
                <img src="../static/img/border4.png" style="position: absolute;  width: 40%; height: 8%; left:30%;top:39.5%;z-index:  -1;">
                <img src="../static/img/border4.png" style="position: absolute;  width: 40%; height: 8%; left:30%;top:47.5%;z-index:  -1;">
                <img src="../static/img/border4.png" style="position: absolute;  width: 40%; height: 8%; left:30%;top:55.5%;z-index:  -1;">

                <canvas id="demo-canvas"></canvas>
                <div class="logo_box" >

                    <div id="form1">

                        <form action="#" name="f" method="post">
                            <div class="input_outer">
                                <span class="u_user"></span>
                                <input id="username" name="username" class="text" style="color: white !important"
                                    type="text" placeholder="用户名">
                            </div>
    
                            <div class="input_outer">
                                <span class="ema"></span>
                                <input id="email" name="email" class="text" style="color: white !important" type="text"
                                    placeholder="请输入邮箱">
                            </div>
    
                            <div class="input_outer">
                                <span class="us_uer"></span>
                                <input id="password0" name="password0" class="text"
                                    style="color: white !important; position:absolute; z-index:100;" value=""
                                    type="password" placeholder="请输入密码">
                            </div>
                            <div class="input_outer">
                                <span class="us_uer"></span>
                                <input id="password1" name="password1" class="text"
                                    style="color: white!important; position:absolute; z-index:100;" value=""
                                    type="password" placeholder="请确认密码">
                            </div>
    
                            
                            <div class="input_outer">
                                <span class="ver"></span>
                                <input id="verification" name="verification" class="text"
                                    style="color: white !important;display: inline-block;" type="text"
                                    placeholder="请输入验证码">
                            </div>
                            <div id="VER" class="mb2"><a class="act-but submit" href="javascript:;" onclick="ver()"
                                    style="color: #FFFFFF">发送验证码</a></div>
    
                            <div id="REG" class="mb2"><a class="act-but submit" href="javascript:;" onclick="reg()"
                                    style="color: #FFFFFF">注册</a></div>
                            <h4 id="h">已有帐号？<a href="/">前往登录</a></h4>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div><!-- /container -->
    <script src="../static/js/TweenLite.min.js"></script>
    <script src="../static/js/EasePack.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/rAF.js"></script>
    <script src="../static/js/demo-1.js"></script>
    <script src="../static/js/vendor/jgrowl/jquery.jgrowl.min.js"></script>
    <script src="../static/js/Longin.js"></script>
    <div style="text-align:center;"></div>



    <script type="text/javascript">
            
        window.onload = function(){
            //获取画布对象
            var canvas = document.getElementById("canvas");
            //获取画布的上下文
            var context =canvas.getContext("2d");
            //获取浏览器屏幕的宽度和高度
            var W = window.innerWidth;
            var H = window.innerHeight;
            //设置canvas的宽度和高度
            canvas.width = W;
            canvas.height = H;
            //每个文字的字体大小
            var fontSize = 16;
            //计算列
            var colunms = Math.floor(W /fontSize);
            //记录每列文字的y轴坐标
            var drops = [];
            //给每一个文字初始化一个起始点的位置
            for(var i=0;i<colunms;i++){
                drops.push(0);
            }

            //运动的文字
            var str ="javascript html5 canvas";
            //4:fillText(str,x,y);原理就是去更改y的坐标位置
            //绘画的函数
            function draw(){
                context.fillStyle = "rgba(0,0,0,0.05)";
                context.fillRect(0,0,W,H);
                //给字体设置样式
                context.font = "700 "+fontSize+"px  微软雅黑";
                //给字体添加颜色
                context.fillStyle ="#00cc33";//可以rgb,hsl, 标准色，十六进制颜色
                //写入画布中
                for(var i=0;i<colunms;i++){
                    var index = Math.floor(Math.random() * str.length);
                    var x = i*fontSize;
                    var y = drops[i] *fontSize;
                    context.fillText(str[index],x,y);
                    //如果要改变时间，肯定就是改变每次他的起点
                    if(y >= canvas.height && Math.random() > 0.99){
                        drops[i] = 0;
                    }
                    drops[i]++;
                }
            }

            function randColor(){
                var r = Math.floor(Math.random() * 256);
                var g = Math.floor(Math.random() * 256);
                var b = Math.floor(Math.random() * 256);
                return "rgb("+r+","+g+","+b+")";
            }

            draw();
            setInterval(draw,30);
        };

    </script>

    <script>
        function ver() {
            var username = document.getElementById("username");
            var password0 = document.getElementById("password0");
            var password1 = document.getElementById("password1");
            var email = document.getElementById("email");
            var ver = document.getElementById("VER");
            if (username.value === "") {
                $.jGrowl("请输入用户名！", { header: '提醒' });
            } else if (password0.value === "") {
                $.jGrowl("请输入密码！", { header: '提醒' });
            } else if (password1.value !== password0.value) {
                $.jGrowl("两次密码输入不一致", { header: '提醒' });
            } else if (email.value === "") {
                $.jGrowl("请输入邮箱", { header: '提醒' });
            } else {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        json_data = xhr.responseText;
                        js_data = JSON.parse(json_data);
                        if (js_data.flag === 1) {
                            alert("发送成功！");
                            ver.innerHTML = '<a class="act-but submit" href="javascript:;" onclick="ver()" style="color: #FFFFFF">重新发送</a>';
                        }
                        if (js_data.flag === 2) {
                            alert("邮箱不存在！");
                        }
                        if (js_data.flag === 3) {
                            alert("邮箱已注册，请前往登录！");
                        }
                        if (js_data.flag === 4) {
                            alert("请80秒后再发送！");
                        }
                    }
                }
                xhr.open('post', "/register/", true);
                xhr.setRequestHeader('Content-Type', "application/json");
                var data = { "email": email.value, "btn": 1 };
                // js对象转换为 json传输
                xhr.send(JSON.stringify(data));
            }
        }

        function reg() {
            var username = document.getElementById("username");
            var password0 = document.getElementById("password0");
            var password1 = document.getElementById("password1");
            var email = document.getElementById("email");
            var verification = document.getElementById("verification");
            if (username.value === "") {
                $.jGrowl("请输入用户名！", { header: '提醒' });
            } else if (password0.value === "") {
                $.jGrowl("请输入密码！", { header: '提醒' });
            } else if (password1.value !== password0.value) {
                $.jGrowl("两次密码输入不一致", { header: '提醒' });
            } else if (email.value === "") {
                $.jGrowl("请输入邮箱", { header: '提醒' });
            } else if (verification.value === "") {
                $.jGrowl("请输入验证码", { header: '提醒' });
            } else {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        json_data = xhr.responseText;
                        js_data = JSON.parse(json_data);
                        if (js_data.flag === 1) {
                            alert("注册成功！即将跳转至登录页");
                            window.location.href = "/";
                        }
                        if (js_data.flag === 2) {
                            alert("请输入正确的验证码！");
                        }
                        if (js_data.flag === 3) {
                            alert("邮箱已注册，请前往登录！");
                        }
                        if (js_data.flag === 4) {
                            alert("用户名非法！");
                        }

                    }
                }
                xhr.open('post', "/register/", true);
                xhr.setRequestHeader('Content-Type', "application/json");
                var data = { "email": email.value, "username": username.value, "password": password0.value, "verification": verification.value, "btn": 2 };
                // js对象转换为 json传输
                xhr.send(JSON.stringify(data));
            }
        }
    </script>

</body>

</html>